<div class="flexHor flexHSpaceBetween">
    <div class="propertiesTitle">{{selectedProject.name}}</div>
    <div class="projectSelectAdd"
         ng-click="CreateNewProject();"
    >
        <img src="images/save.png"/>
    </div>
</div>


<div class="propertiesContent">
    <div class="flexHor">
        <div class="propertiesName">Name:</div>
        <input ng-model="selectedProject.name"/>
    </div>
    <div class="flexHor">
        <div class="propertiesName">Author:</div>
        <input ng-model="selectedProject.author"/>
    </div>

    <div class="flexHor">
        <div class="propertiesName">Description:</div>
        <textarea name="Text1"
                  cols="40" rows="4"
                  ng-model="selectedProject.description"
                  style="resize: none;"
        ></textarea>
    </div>

    <div class="flexHor">
        <div class="propertiesName">Input:</div>        
    </div>
    
    <div class="flexHor" style="justify-content: center;">
        <img class="mousePointer"
             ng-click="a.openPorjectEditor();"
             src="images/edit.png"
             style="height: 31px; margin-right: 15px;"/>
        
        <div class ="flexHor flexCenter flexHCenter projectPreviewImage" ng-click="a.createPreview();">
            <img height="100px" ng-src="{{a.imagePreviewSrc}}"/>
        </div>

         <!--<div class="flexHor flexCenter propertiesNameCb">-->
                <!--<input type="checkbox" ng-model="selectedProject.options.use_flat_notes" ng-checked="selectedProject.options.use_flat_notes"/>-->
                <!--Use Flat Notes-->
            <!--</div>-->
    </div>

    
    <div class="propertiesName">Options:</div>
    
    <div class="flexHor">    
        <div class="flexVer"  style="margin-left: 20px;">
            <img class="mousePointer" 
                ng-click="a.showTransformPreview();" 
                src="images/preview.png" 
                style="height: 27px; margin-right: 15px;"/>
        </div>
        <div class="flexVer"  style="margin-left: 20px;">
            <div>Transpositions</div>
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox" ng-checked="selectedProject.options.transposition_chromatic"/>
                Chromatic
            </div>
            
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox"ng-checked="selectedProject.options.transposition_diatonic"/>
                Diatonic
            </div>
        </div>

        <div class="flexVer"  style="margin-left: 50px;">
            <div>Inversions</div>
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox" ng-checked="selectedProject.options.inversion_chromatic"/>
                Chromatic
            </div>
            
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox"ng-checked="selectedProject.options.inversion_diatonic"/>
                Diatonic
            </div>
        </div>

        <div class="flexVer"  style="margin-left: 50px;">
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox" ng-checked="selectedProject.options.shifts"/>
                Shifts
            </div>

            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox" ng-checked="selectedProject.options.augmentation"/>
                Augmentation
            </div>
            
            <div class="flexHor flexCenter propertiesNameCb">
                <input type="checkbox"ng-checked="selectedProject.options.diminution"/>
                Diminution
            </div>
        </div>
    
    </div>
    
    
</div>

 <div class="flexHor" style="justify-content: center;">
    <div class="button" ng-click="a.startAnalysis();">Start Analysis</div>
    <div class="button">Show Results</div>
</div>