.showResults .mainDiv {
  height: 350px;
  overflow-y: scroll;
}
.showResults .projectPreviewImage {
  width: 616px;
  height: 120px;
  background-color: white;
  background: url("../images/paper.png");
}
